div.hide(data-content, data-activities)
  div.jumbotron-large.jumbotron
    div.row
      div.col-md-4
        div.panel.panel-default
          div.panel-heading
            h2 Trap games
          ol.list-group
            li.list-group-item
              a(href='http://www.mindmaze.cz/en/home-en')
                | MindMaze
              span &nbsp;|&nbsp;
              a.btn.btn-xs.btn-default(href='https://www.google.no/maps/place/Tyr%C5%A1ova+1833%2F9,+120+00+Praha-Praha+2,+Czech+Republic/@50.0731405,14.4311066,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94895d536ed9:0x5995572dd3d298ce?hl=en')
                | Åpne i Maps
            li.list-group-item
              a(href='http://www.trapprague.com/#_=_')
                | TRAP Prague
              span &nbsp;|&nbsp;
              a.btn.btn-xs.btn-default(href='https://www.google.no/maps/place/Senov%C3%A1%C5%BEn%C3%A1+1394%2F8,+110+00+Praha-Praha+1,+Czech+Republic/@50.0865091,14.4292803,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94eb3617debf:0xb69875f573e4d75d?hl=en')
                | (Secret agent game) Åpne i Maps
              a.btn.btn-xs.btn-default(href='https://www.google.no/maps/place/Jungmannova+736%2F12,+110+00+Praha-Praha+1,+Czech+Republic/@50.0803333,14.4225257,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94f28737de23:0x5df1b5377424f97e?hl=en')
                | (Bomb and tomb game) Åpne i Maps
            li.list-group-item
              a(href='http://www.theroom.cz/en/')
                | TheRoom
              span &nbsp;|&nbsp;
              a.btn.btn-xs.btn-default(href='https://www.google.no/maps/place/Karmelitsk%C3%A1+380%2F16,+Mal%C3%A1+Strana,+118+00+Praha-Praha+1,+Czech+Republic/@50.0861539,14.4043388,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94e3ac37c9e7:0x7759a4bb75129474?hl=en')
                | Åpne i Maps
            li.list-group-item
              a(href='http://www.puzzleroom.cz/english')
                | Puzzle Room
              span &nbsp;|&nbsp;
              a.btn.btn-xs.btn-default(href='https://www.google.no/maps/place/%C4%8Cechova+225%2F10,+170+00+Praha-Praha+7,+Czech+Republic/@50.1008248,14.4210582,17.25z/data=!4m2!3m1!1s0x470b94dab9cbfee3:0x581e8dfb9c054818?hl=en')
                | Åpne i Maps


    // https://www.google.no/maps/place/%C4%8Cechova+225%2F10,+170+00+Praha-Praha+7,+Czech+Republic/@50.1008248,14.4210582,17.25z/data=!4m2!3m1!1s0x470b94dab9cbfee3:0x581e8dfb9c054818?hl=en
