div.hide(data-content, data-clubs)
  div.jumbotron.jumbotron-large
    table.table.table-hover
      thead
        tr
          th Navn
          th Kart
          th Kategori
          th Lenker
      tbody
        tr
          td Roxy
          td
            a(href='https://www.google.no/maps/place/Dlouh%C3%A1+33,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto,+Czech+Republic/@50.090589,14.4258755,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94ea09698177:0xc75512cfa648f182?hl=en') Åpne i Maps
          td Nattklubb, dans
          td
            ul
              li
                a(href='https://www.likealocalguide.com/prague/roxy') likealocalguide

