div.hide(data-content, data-clubs)
  div.jumbotron.jumbotron-large
    table.table.table-hover
      thead
        tr
          th Navn
          th Kart
          th Kategori
          th Lenker
      tbody
        tr
          td Roxy
          td
            a(href='https://www.google.no/maps/place/Dlouh%C3%A1+33,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto,+Czech+Republic/@50.090589,14.4258755,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94ea09698177:0xc75512cfa648f182?hl=en') Åpne i Maps
          td Nattklubb, dans
          td
            ul
              li
                a(href='https://www.likealocalguide.com/prague/roxy') likealocalguide
        tr
          td M1 Lounge
          td
            a(href='https://www.google.no/maps/place/M1+Lounge/@50.0894194,14.4234166,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94e98e394187:0x5e06ab9aae57b8ed?hl=en') Åpne i Maps
          td Nattklubb, dans
          td
            ul
              li
                a(href='') M1 Lounge hjemmeside
        tr
          td Nebe hjemmeside
          td
            a(href='https://www.google.no/maps/place/Nebe+Cocktail+%26+Music+Bar/@50.0853518,14.4230526,16.25z/data=!4m2!3m1!1s0x470b94f1778fe05d:0xeef629f97727f584?hl=en') Åpne i Maps
          td Nattklubb, dans
          td
            ul
              li
                a(href='http://www.nebepraha.cz/') Nebe
        tr
          td DUPLEX
          td
            a(href='https://www.google.no/maps/place/DUPLEX+Club+%26+Restaurant/@50.0825052,14.4266202,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94ed263a2a3d:0xee19e8894d15a7f9?hl=en') Åpne i Maps
          td Nattklubb, dans, live show
          td
            ul
              li
                a(href='http://www.duplex.cz/cs/program') DUPLEX hjemmeside
        tr
          td Cross Club
          td
            a(href='https://www.google.no/maps/search/Cross+Club,+Plyn%C3%A1rn%C3%AD,+Hole%C5%A1ovice,+Prague-Prague+7,+Czech+Republic/@50.1081623,14.4432036,17z/data=!3m1!4b1?hl=en') Åpne i Maps
          td Nattklubb, dans, live show
          td
            ul
              li
                a(href='http://www.crossclub.cz/cs/') Cross Club hjemmeside
        tr
          td James Dean
          td
            a(href='https://www.google.no/maps/place/James+Dean/@50.0895043,14.4221127,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94e9bd91ef5d:0x1f3a84f85126e152?hl=en') Åpne i Maps
          td Nattklubb, dans
          td
            ul
              li
                a(href='http://www.jamesdean.cz/en') James Dean hjemmeside
