div.hide(data-content, data-dining)
  div.jumbotron.jumbotron-large
    div.row
      div.col-md-4
        div.panel.panel-default
          div.panel-heading
            h2 Italiensk
          ul.list-group
            li.list-group-item
              span 1.&nbsp;
              a(href='http://www.tripadvisor.com/Restaurant_Review-g274707-d4794349-Reviews-Ristorante_Pagana-Prague_Bohemia.html')
                | Ristorante Pagna
              span &nbsp;|&nbsp;
              a.btn.btn-xs.btn-default(href='https://www.google.no/maps/place/Vladislavova+1390%2F17,+110+00+Praha-Praha+1,+Czech+Republic/@50.0807305,14.4209149,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94f20949460f:0x8cb09115deae2f05?hl=en')
                | Åpne i Maps
            li.list-group-item
              span 2.&nbsp;
              a(href='http://www.grosseto.cz/en/')
                | GROSETTO
              span &nbsp;|&nbsp;
              a.btn.btn-xs.btn-default(href='https://www.google.no/maps/place/Grosseto+Marina/@50.0890404,14.4137214,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94e649c7a7fd:0x414eb351b7f69031?hl=en')
                | Åpne i Maps
      div.col-md-4
        div.panel.panel-default
          div.panel-heading
            h2 Tsjekkisk
          ul.list-group
            li.list-group-item
              span 1.&nbsp;
              a(href='http://www.tripadvisor.com/Restaurant_Review-g274707-d7235557-Reviews-Field_Restaurant-Prague_Bohemia.html')
                | Field Restaurant
              span &nbsp;|&nbsp;
              a.btn.btn-xs.btn-default(href='https://www.google.no/maps/place/U+milosrdn%C3%BDch+852%2F12,+Star%C3%A9+M%C4%9Bsto,+110+00+Praha-Praha+1,+Czech+Republic/@50.0884155,14.4188845,16.27z/data=!4m2!3m1!1s0x470b94c27cf599df:0x57d8c368c5321b34?hl=en')
                | Åpne i Maps
      div.col-md-4
        div.panel.panel-default
          div.panel-heading
            h2 Diverse
          ul.list-group
            li.list-group-item
              span 1.&nbsp;
              a(href='http://www.tripadvisor.com/Restaurant_Review-g274707-d7914410-Reviews-Chilli_Point-Prague_Bohemia.html')
                | Chilli Point
              span &nbsp;|&nbsp;
              a.btn.btn-xs.btn-default(href='https://www.google.no/maps/place/Havelsk%C3%A1+521%2F8,+Star%C3%A9+M%C4%9Bsto,+110+00+Praha-Praha+1,+Czech+Republic/@50.0845259,14.4208424,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94ee9bcf7247:0x6daee56a39ad79ea?hl=en')
                | Åpne i Maps
            li.list-group-item
              span 1.&nbsp;
              a(href='http://www.jamesdean.cz/en/food-menu')
                | James Dean
              span &nbsp;|&nbsp;
              a.btn.btn-xs.btn-default(href='https://www.google.no/maps/place/James+Dean/@50.0895043,14.4221127,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94e9bd91ef5d:0x1f3a84f85126e152?hl=en')
                | Åpne i Maps

