div(data-content, data-general)
  div.jumbotron
    p En liten show-off av turistene
    div.row
      div.col-lg-1
        div.btn.btn-large.btn-primary(data-next-gif) Neste bilde
    img(src='/images/trust-me-ok.gif', data-gif-holder)
