extends ../layout

block content
  div.jumbotron.jumbotron-large
    div.container
      h1 Praha 2015
  div.container
    ul.nav.nav-tabs
      li.active(role='presentation')
        a(href='#general', data-nav-pill='general') Generelt
        li(role='presentation')
          a(href='#dining', data-nav-pill='dining') Spisesteder
        li(role='presentation')
          a(href='#clubs', data-nav-pill='clubs') Klubber
        li(role='presentation')
          a(href='#strip-clubs', data-nav-pill='strip-clubs') Strippeklubber
    div.current-content
      include general
      include dining
      include clubs
      include strip-clubs
  script(src='/javascripts/prague.js')
