extends ../layout

block content
  div.jumbotron.jumbotron-large
    div.container
      h1 Praha 2015
  div.container
    ul.nav.nav-tabs
      li.active(role='presentation')
        a(href='#generelt', data-nav-pill='general') Generelt
        li(role='presentation')
          a(href='#spisesteder', data-nav-pill='dining') Spisesteder
        li(role='presentation')
          a(href='#klubber', data-nav-pill='clubs') Utesteder
        li(role='presentation')
          a(href='#aktiviteter', data-nav-pill='activities') Aktiviterer
        li(role='presentation')
          a(href='#hotell', data-nav-pill='hotel') Bosted
    div.current-content
      include general
      include dining
      include clubs
      include activities
      include residence
  script(src='/javascripts/prague.js')
