div.hide(data-content, data-hotel)
  div.jumbotron
    h2 Prague Central Exclusive Apartments
      small  Elišky Krásnohorské 9
    a(href='https://www.google.no/maps/place/Eli%C5%A1ky+Kr%C3%A1snohorsk%C3%A9+134%2F9,+Star%C3%A9+M%C4%9Bsto,+110+00+Praha-Praha+1,+Czech+Republic/@50.090426,14.419528,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94e838cc921d:0x11c86a71ad8d64a3?hl=en') Åpne i Maps
