div.hide(data-content, data-strip-clubs)
  div.jumbotron-large.jumbotron
    h2
      span.red-text Hot
      span  Peppers
    div
      iframe(width="560" height="315" src="https://www.youtube.com/embed/sEMB7QO1QlY" frameborder="0" allowfullscreen)
